@(name: String, age: Int, location: String)

<html>
	<head>
		<title>Play Bootstrap Hello World</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap stylesheet and default theme -->
		<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/assets/stylesheets/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<img src="https://www.playframework.com/assets/images/logos/play_full_color.png" width="500"/>
		
		<h1>Hello @name</h1> 
		<small>You are @age years old and you are at @location.</small>

		<!-- jQuery for Bootstrap plugins -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap plugins -->
		<script src="/assets/javascripts/bootstrap.min.js"></script>
	</body>
</html>